apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
  namespace: {{ .Values.namespace }}
data:
  {{ .Values.configMap.key }}: |-
    apiVersion: mirror.openshift.io/v2alpha1
    kind: ImageSetConfiguration
    mirror:
      platform:
        channels:
        - name: stable-4.20
          minVersion: 4.20.10
          maxVersion: 4.20.10
        graph: true
