apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.job.name }}
  namespace: {{ .Values.namespace }}
spec:
  template:
    spec:
      restartPolicy: Never
      initContainers:
      - name: download-{{ .Values.binary }}
        image: {{ .Values.image }}
        env:
        - name: BASE_URL
          value: {{ .Values.baseURL }}
        - name: BINARY
          value: {{ .Values.binary }}
        - name: RELEASE
          value: {{ .Values.release }}
        command: ["/bin/bash", "-c"]
        args:
        - |
          set -e
          if test ! -f $BINARY; then
            curl -L -o $BINARY.tgz $BASE_URL/$(arch)/clients/ocp/$RELEASE/$BINARY.rhel9.tar.gz
            tar fxz $BINARY.tgz
          fi
          ls -l $BINARY
        volumeMounts:
        - mountPath: {{ .Values.workingDir }}
          name: {{ .Values.persistentVolumeClaim.name }}
        workingDir: {{ .Values.workingDir }}
      - name: update-pull-secret
        image: {{ .Values.image }}
        command: ["/bin/bash", "-c"]
        args:
        - |
          set -e
          if test ! -f .dockerconfigjson-merged; then
            yum install -y jq
            jq -s '.[0] * .[1]' .dockerconfigjson-redhat .dockerconfigjson-mirror > .dockerconfigjson-merged
          fi
          ls -l .dockerconfigjson-merged
        volumeMounts:
        - mountPath: {{ .Values.workingDir }}
          name: {{ .Values.persistentVolumeClaim.name }}
        - mountPath: {{ .Values.workingDir }}/.dockerconfigjson-mirror
          name: {{ .Values.imagePullSecret.mirror }}
          subPath: .dockerconfigjson-mirror
        - mountPath: {{ .Values.workingDir }}/.dockerconfigjson-redhat
          name: {{ .Values.imagePullSecret.redhat }}
          subPath: .dockerconfigjson-redhat
        workingDir: {{ .Values.workingDir }}
      containers:
      - name: {{ .Values.binary }}
        image: {{ .Values.image }}
        env:
        - name: BINARY
          value: {{ .Values.binary }}
        - name: CACHE
          value: {{ .Values.cache }}
        - name: FILE
          value: {{ .Values.file }}
        - name: ISC
          value: {{ .Values.configMap.key }}
        - name: MIRROR
          value: {{ .Values.mirrorURL }}
        command: ["/bin/bash", "-c"]
        args:
        - |
          set -e
          mkdir -p $HOME/.docker
          cp .dockerconfigjson-merged $HOME/.docker/config.json
          chmod +x $BINARY
          cp $BINARY /usr/local/bin/$BINARY
          $BINARY --v2 --version
          $BINARY --v2 --config $ISC.yaml --cache-dir $CACHE --from file://$FILE docker://$MIRROR
        volumeMounts:
        - mountPath: {{ .Values.workingDir }}/{{ .Values.configMap.key }}.yaml
          name: {{ .Values.configMap.name }}
          subPath: {{ .Values.configMap.key }}.yaml
        - mountPath: {{ .Values.workingDir }}
          name: {{ .Values.persistentVolumeClaim.name }}
        workingDir: {{ .Values.workingDir }}
      volumes:
      - name: {{ .Values.configMap.name }}
        configMap:
          name: {{ .Values.configMap.name }}
          items:
          - key: {{ .Values.configMap.key }}
            path: {{ .Values.configMap.key }}.yaml
      - name: {{ .Values.persistentVolumeClaim.name }}
        persistentVolumeClaim:
          claimName: {{ .Values.persistentVolumeClaim.name }}
      - name: {{ .Values.imagePullSecret.redhat }}
        secret:
          secretName: {{ .Values.imagePullSecret.redhat }}
          items:
          - key: .dockerconfigjson
            path: .dockerconfigjson-redhat
      - name: {{ .Values.imagePullSecret.mirror }}
        secret:
          secretName: {{ .Values.imagePullSecret.mirror }}
          items:
          - key: .dockerconfigjson
            path: .dockerconfigjson-mirror

